#crudSimple-container {
  margin-top: 150px;
}

#crudSimple-buscar-container,
#crudSimple-crear-container {
  margin-top: 50px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle {
  float: left;
  margin-bottom: 10px;
}

.search-label {
  float: right;
  padding-bottom: 10px;
}
.sr-only {
  font-size: 0;
}
#crudSimple-crear-container .form-label {
  float: left;
  margin-bottom: 10px;
}
#boton {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 118, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
